.alignement {
    width: 60%;
    margin-top: auto;
    margin-right: auto;

}

.line {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.width {
    width: 60%;
    border-radius: 50px;
    height: 40px;
}